/* Style the side navigation plus */

.open_sidebar {
    width: 5%;
}

.open_sidebar button {
    position: relative;
    top: 4px;
    background: inherit;
    color: rgb(255, 217, 0);
}

.open_sidebar button:hover {
    background: inherit;
    color: rgb(55, 76, 197);
}

.open_sidebar button:focus {
    outline: none;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar #side_icon_img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    cursor: pointer;
    transition: filter .5s;
}

.sidebar #side_icon_img img:hover {
    filter: hue-rotate(180deg);
}

.sidebar #side_user_name {
    text-align: center;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #b68b00;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}